@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    font-family: 'Ubuntu', sans-serif;    
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    margin: 0 auto;
    /*border: 1px solid black;*/
    width: 90vw;
    text-align: center;
}
.logo{
    margin-top: 5vw;
    /*margin-left: 15vw;
    margin-top: 10vw;
    margin-right: 250px;*/
    width: 12vw;
    min-width: 168px;
    min-height: 33px;
}
.links{
    /*border: 1px solid;*/
    margin: 150px;
    padding: 1vh 0;
    list-style: none;
    display: inline-block;
    padding-left: 5px;
}
.links li{
    list-style: none;
    display: inline-block;
    padding-left: 5px;
}
.links li a{
    font-size: 15px;
    color: rgb(34, 34, 34);
    display: inline-block;
    padding-left: 5px;
}
.links li a:hover{
    color:cadetblue
}
.bip{
    line-height: 20px;
    display: inline-block;
    height: 35px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px 9px;
}

/*Media query: para celulares*/
@media (max-width: 425px) {
    .links {
        display: none;
    }
    .logo {
            border: 1px solid red;
            
        }
    }

/*media query: PARA TABLET*/
@media (max-width: 768px) {
    .links {
        display: none;
    }
}
@media (min-width: 1024px) {
    .burger {
        display: none;
    }
}